In [1]:
%pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\chell\appdata\local\programs\python\python39\lib\site-packages (4.7.0.72)
Requirement already satisfied: numpy>=1.17.3 in c:\users\chell\appdata\roaming\python\python39\site-packages (from opencv-python) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.1 is available.
You should consider upgrading via the 'C:\Users\chell\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [17]:
import cv2, numpy as np, pandas as pd, os, re, math

In [18]:
def compress_image(image):
    pixel_list = []
    for i in range(image.shape[0]):
        for j in range(image.shape[1]):
            pixel = math.floor(np.mean(image[i,j]))
            pixel_list.append(pixel)
    return pixel_list

In [19]:
#Get image row data (including number column data (num_type))
def get_image_row(filepath):
    num_type = re.findall("data/number_images/(\d)", filepath)[0]
    image = cv2.imread(filepath)
    row = compress_image(image)
    row.append(int(num_type))
    return row

In [20]:
def create_column_list(number_of_columns):
    column_list = []
    for i in range(number_of_columns):
        column_list.append("frag_" + str(i))
    column_list.append("Number")
    return column_list

In [21]:
def get_all_image_rows_by_number(number_str, number_of_data_columns):
    df_rows = []
    dir_path = "../data/number_images/" + number_str
    file_list = os.listdir(dir_path)
    for filename in file_list:
        filepath = dir_path + "/" + filename
        df_rows.append(get_image_row(filepath))
    return df_rows

In [25]:
zero_rows = get_all_image_rows_by_number('0', 12600)

In [23]:
len(zero_rows[0])

12601

In [26]:
def create_number_dataframe(number_of_data_columns):
    #Create column list
    column_list = create_column_list(number_of_data_columns)
    #Create rows
    df_rows = []
    dir_list = os.listdir("../data/number_images")
    for directory in dir_list:
        dir_path = "../data/number_images/" + directory
        file_list = os.listdir(dir_path)
        for filename in file_list:
            filepath = dir_path + "/" + filename
            df_rows.append(get_image_row(filepath))
    #Create df
    number_df = pd.DataFrame(df_rows, columns=column_list)
    return number_df

In [27]:
numbers_df = create_number_dataframe(12600)

In [28]:
numbers_df

,frag_0,frag_1,frag_2,frag_3,frag_4,frag_5,frag_6,frag_7,frag_8,frag_9,...,frag_12591,frag_12592,frag_12593,frag_12594,frag_12595,frag_12596,frag_12597,frag_12598,frag_12599,Number
0,255,255,255,255,255,254,253,252,254,254,...,253,253,255,255,255,255,254,246,219,0
1,254,253,252,251,251,252,253,254,255,255,...,253,254,253,254,254,252,231,171,82,0
2,252,249,247,246,248,250,250,250,252,252,...,251,251,251,252,252,254,254,254,253,0
3,253,253,253,253,254,254,254,254,253,254,...,253,253,254,254,254,254,253,254,251,0
4,254,254,254,254,254,255,255,255,255,255,...,254,255,254,255,249,208,114,51,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,255,255,253,252,252,253,254,255,255,255,...,253,251,251,252,254,254,252,250,249,9
996,254,254,255,255,255,255,254,253,252,253,...,252,255,252,248,249,252,233,153,27,9
997,254,255,255,254,253,254,255,255,255,255,...,255,255,255,255,255,255,254,252,254,9
998,252,255,254,244,238,242,250,254,254,255,...,255,255,254,254,254,254,253,254,253,9
999,253,254,255,255,254,254,254,254,254,254,...,253,255,255,251,249,208,56,34,0,9

In [30]:
numbers_df.to_csv("../data/numbers_df.csv")

In [33]:
df = pd.read_csv("../data/numbers_df.csv")

In [34]:
df

,frag_0,frag_1,frag_2,frag_3,frag_4,frag_5,frag_6,frag_7,frag_8,frag_9,...,frag_12591,frag_12592,frag_12593,frag_12594,frag_12595,frag_12596,frag_12597,frag_12598,frag_12599,Number
0,255,255,255,255,255,254,253,252,254,254,...,253,253,255,255,255,255,254,246,219,0
1,254,253,252,251,251,252,253,254,255,255,...,253,254,253,254,254,252,231,171,82,0
2,252,249,247,246,248,250,250,250,252,252,...,251,251,251,252,252,254,254,254,253,0
3,253,253,253,253,254,254,254,254,253,254,...,253,253,254,254,254,254,253,254,251,0
4,254,254,254,254,254,255,255,255,255,255,...,254,255,254,255,249,208,114,51,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,255,255,253,252,252,253,254,255,255,255,...,253,251,251,252,254,254,252,250,249,9
996,254,254,255,255,255,255,254,253,252,253,...,252,255,252,248,249,252,233,153,27,9
997,254,255,255,254,253,254,255,255,255,255,...,255,255,255,255,255,255,254,252,254,9
998,252,255,254,244,238,242,250,254,254,255,...,255,255,254,254,254,254,253,254,253,9
999,253,254,255,255,254,254,254,254,254,254,...,253,255,255,251,249,208,56,34,0,9